Merge branch 'master' of https://github.com/sisoputnfrba/tp-2016-2c-A-cara-de-rope

# Please enter a commit message to explain why this merge is necessary,
# especially if it merges an updated upstream into a topic branch.
#
# Lines starting with '#' will be ignored, and an empty message aborts
# the commit.
francoPT
/Debug/
